.img-empty-order {
    height: 133px; width: 255px
}
.my-empty-body {
    padding: 20px 50px;
    color: #000;
    position: relative;
    -ms-flex: 1 1 auto;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    padding: 15px;
    font-weight: 600;
    font-size: 20px;
    color: #141414;
    font-family: Calibri;
}
.btn-order-now {
    color: #000;
}