<div class="order_summay_wrapper">
  <!-- <ul class="list-group">
        <li class="list-group-item custom_list_group_item">Cras justo odio</li>
        <li class="list-group-item custom_sub_list_group_item">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
              </ul>
        </li>


        <li class="list-group-item custom_list_group_item pt-5">Porta ac consectetur ac</li>
        <li class="list-group-item custom_sub_list_group_item">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
              </ul>
        </li>
      </ul> -->

  <div class="service_info_wrapper">
    <div class="title_service_info">
      <h6 class="text_style"><i class="fa fa-cog gear_icon" aria-hidden="true"></i>&nbsp;Service info</h6>
    </div>
    <div *ngIf="cartDetailsInfo" class="service_info_child_wrapper">
      <ul class="list-group">
        <li class="list-group-item">Service: <span class="item_text">{{cartDetailsInfo.SubCategroy.Name}}</span></li>
        <li class="list-group-item">Service Type: <span class="item_text">{{serviceTypes}}</span></li>
        <li class="list-group-item">Quantity: <span class="item_text">{{cartDetailsInfo.CartOrderData.Quantity}}</span></li>
        <li class="list-group-item">Total Price: <span class="item_text">{{cartDetailsInfo.CartOrderData.TotalPrice}}</span></li>
        <li class="list-group-item">Schedule Date: <span class="item_text">{{scheduleInfo.ScheduleDate}}</span><span class="edit_schedule_date edit_icon"><i class="fa fa-pencil" aria-hidden="true"></i>
        </span></li>
        <li class="list-group-item">Schedule Time: <span class="item_text">{{scheduleInfo.ScheduleTime.TimeSlot}}</span><span class="edit_schedule_time edit_icon"><i class="fa fa-pencil" aria-hidden="true"></i>
        </span></li>
        <li class="list-group-item">Schedule Provider: <span class="item_text">{{servicePartnerInfo.Name}}</span><span class="edit_schedule_provider edit_icon"><i class="fa fa-pencil" aria-hidden="true"></i>
        </span></li>
      </ul>
    </div>
  </div>

  <div *ngIf="deliveryInfo" class="delivery_info_wrapper">

      <div class="title_service_info">
        <h6 class="text_style"><i class="fa fa-shopping-bag gear_icon" aria-hidden="true"></i>&nbsp;Delivery info</h6>
      </div>
      <div class="delivery_info_child_wrapper">
        <ul class="list-group">
          <li class="list-group-item">Name: <span class="item_text">{{deliveryInfo.DeliveryName}}</span></li>
          <li class="list-group-item">Phone: <span class="item_text">{{deliveryInfo.Mobile}}</span></li>
          <li class="list-group-item">Email: <span class="item_text">{{deliveryInfo.Email}}</span></li>
          <li class="list-group-item">Address: <span class="item_text">{{deliveryInfo.Address}}</span><span class="edit_address edit_icon"><i class="fa fa-map-marker" aria-hidden="true"></i>
          </span></li>
        </ul>
      </div>
    </div>
</div>