<!-- <div class="section" style="border-top: 1px solid #e2e2e2;">
    <div class="container">
        <h2>Customer Feedback</h2>
        <ngx-carousel>
          <ngx-tile NgxCarouselItem *ngFor="let tile of homeFeedBack; let i = index;">
                <div class="card">
                    <div class="row" style="display: flex;flex-flow: row;">
                        <div class="author">
                            <img class="img-circle img-no-padding img-responsive" src="{{tile.ImgSrc}}" style="    width: 6em;margin-left: 2em; margin-top: 1em;">
                        </div>
                        <div class="card-body">

                            <div style="display: flex;flex-flow: column;margin-left: 1em;justify-content: center;">
                                <h3></h3>
                                <p></p>
                                <ngb-rating [(rate)]="currentRate">
                                    <ng-template let-fill="fill" let-index="index">
                                        <span class="star" [class.filled]="fill === 100" [class.bad]="index < 3">&#9733;</span>
                                    </ng-template>
                                </ngb-rating>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">

                            
                        </div>
                    </div>
                </div>
            </ngx-tile> 
            <button NgxCarouselPrev class="leftRs" style="background: url(assets/img/Arrow-left1.png)"></button>
            <button NgxCarouselNext class="rightRs" style="background: url(assets/img/Arrow-right1.png)"></button>
        </ngx-carousel>
    </div>
</div> -->