<table class="table table-bordered invoice_table">
  <thead>
    <tr>
      <th scope="col">SL</th>
      <th scope="col">PARTICULARS</th>
      <th scope="col">QTY</th>
      <th scope="col">UNIT PIRCE</th>
      <th scope="col">AMOUNT</th>
      <th scope="col">DISCOUNT</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let invoice of invoiceDetails?.OrderDetailList; let i = index;">
      <th scope="row">{{i+1}}</th>
      <td>{{invoice.SubcategoryOptionName}}</td>
      <td>{{invoice.UnitOrderQty}}</td>
      <td>{{invoice.UnitOrderPrice}}</td>
      <td>{{invoice.UnitOrderPrice * invoice.UnitOrderQty}}</td>
      <td>{{discountPrice(invoice)}}</td>
    </tr>
  </tbody>
</table>
