<div class="my-wallet-body">
  <div class="row  text-center">
      <div class="col-12">
        <img src="../../../assets//img/profile//wallet.png" class="img img-wallte" alt="">
      </div>
      <div class="col-12">
          <div>Wallet Ballance: 0 TK</div>
      </div>
      <div class="col-12">
        <input class=" input-cupon" type="text" placeholder="Enter Shomadhan cupon code">
      </div>
      <div class="col-12">
        <button class="btn btn-warning btn-sm btn-apply">Apply</button>
      </div>
  </div>
</div>