<div class="row prom-body">
  <div class="col-8">
    <div class="col-12 promo-header">RAMDAN</div>
    <div class="col-12 promo-header">Ramadan offer 20% off upto TK 500</div>
    <div class="col-12">Valid Till: 12 June 2018</div>
    <div class="col-12" style="margin-bottom: 30px;">3 Promotions left</div>
    <div class="col-12">
      <div class="row">
        <div class="col-6">
          <input type="text" class="inpur-promo" placeholder="| Type promo code here">
        </div>
        <div class="col-6">
          <button class="btn btn-warning btn-promo">Add promo</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4 text-right">
    <div class="col-12">
      <span class="label label-warning">20%</span>
    </div>
    <div class="col-12">Discount up TK 500</div>
  </div>
</div>