.custom_radio_btn_size {
  width: 1.3rem;
  height: 1.3rem;
}


.custom_input-group-text {
  background: unset;
    border-right: 1px solid gray !important;
    padding-left: 0;
    border-left: unset;
    border-top: unset;
    border-bottom: unset;
    padding-right: 5px;
    /* left: -16px; */
}