<div class="refer-body h-100">
  <div class="row text-center h-100">

    <div class="col-12 install h-25">
      <div class="row">
        <div class="col-6">
          <div class="col-12 header">Install</div>
          <div class="col-12">Install Shomadhan app & Sign up</div>
        </div>
        <div class="col-6">
          <img src="../../../assets/img/profile/icon_phone.png" alt="" class="img img-responsive">
        </div>
      </div>
    </div>
    <div class="col-12 refer h-25">
      <div class="row">
        <div class="col-6">
            <img src="../../../assets/img/profile/icon_refer.png" alt="" class="img img-responsive">
        </div>
        <div class="col-6">
          <div class="col-12 header">Refer</div>
          <div class="col-12">Share the code & invite your friend to download the app</div>
        </div>
      </div>
    </div>
    <div class="col-12 earn h-25">
      <div class="row">
        <div class="col-6">
          <div class="col-12 header">Earn</div>
          <div class="col-12">Earn wallet cash when your friend places the first order</div>
        </div>
        <div class="col-6">
            <img src="../../../assets/img/profile/icon_earn.png" alt="" class="img img-responsive">
        </div>
      </div>
    </div>
    <div class="col-12 h-25 text-center">
      <div class="col-12 header">Your refer code</div>
      <div class="col-12">
        <button class="btn  btn-refer-code">RAJU201</button>
      </div>
      <div class="col-12"><span class="condition">Terms & condition apply</span></div>
    </div>
  </div>
</div>