.my-order-content {
    border: 0 none;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15), 0 0 1px 1px rgba(0, 0, 0, 0.1);
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
}

.my-order-header {
    border-bottom: 1px solid #DDDDDD;
    padding: 20px;
    text-align: center;
    display: block !important;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
}

.my-order-header .header-title {
    color: #333333;
}

.header-title {
    margin-bottom: 0;
    line-height: 1.5;
    font-weight: bold;
    text-align: left
}

.my-order-body {
    padding: 20px 50px;
    color: #000;
    position: relative;
    -ms-flex: 1 1 auto;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    padding: 15px;
    font-weight: 600;
    font-size: 15px;
    color: #767676;
    font-family: Calibri;
}

.my-order-body {
    color: #484848;
}
