<div class="section" style="border-top: 1px solid #e2e2e2;">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-12 ml-auto mr-auto text-center">
                <h2>Are you a Profesdional, looking to grow your business?</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 ml-auto mr-auto">
                <a (click)="onClickPartnerRegistations()" class="btn btn-warning btn-round"
                    style="font-family: fantasy; font-size: 35px; color: #161616;background:#ffc107">Join with us Today</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h3>Around 10,000 happy customer wating for you</h3>
            </div>
        </div>
    </div>
</div>