<div class="accordion" id="accordionFaq">
  <div class="card">
    <div class="card-header d-flex justify-content-between faq_header" id="headingOne" data-toggle="collapse" data-target="#collapseOne"
      aria-expanded="true" aria-controls="collapseOne">
      <h6 class="mb-0">
        Read FAQ
      </h6>
      <span>
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </span>
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionFaq">
      <div class="card-body">

      </div>
    </div>
  </div>
</div>