<div class="modal-content">
  <div class="modal-header">
    <div class="row">
      <div class="col-md-3">
        <button type="button" class="close float-left">
          <span>
            <i class="fa fa-arrow-left"></i>
          </span>
        </button>
      </div>
      <div class="col-md-6">
        <h5 class="modal-title text-center" id="exampleModalLabel" style="font-weight: bold">RESET PASSWORD</h5>
      </div>
      <div class="col-md-3">
        <button type="button" class="close" (click)="onClickClose()">
          <i class="fa fa-close"></i>
        </button>
      </div>
    </div>
  </div>
  <!-- enter mobile number for verification -->
  <div class="modal-body">
    <form #passwordForm="ngForm">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group" [class.has-danger]="newPassword.invalid && newPassword.touched" [class.has-success]="newPassword.valid">
            <input type="password" #newPassword="ngModel" [(ngModel)]="password.newPassword" name="newPassword" id="newPassword"
              required class="form-control" placeholder="New Password">
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group" [class.has-danger]="confirmPassword.invalid && confirmPassword.touched"
            [class.has-success]="confirmPassword.valid">
            <input type="password" appConfirmEqualValidator="newPassword" #confirmPassword="ngModel" [(ngModel)]="password.confirmPassword"
              name="confirmPassword" id="confirmPassword" required class="form-control" placeholder="Confirm Password">
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <button type="submit" [disabled]="passwordForm.invalid" (click)="onClickReset(password)" class="btn btn-warning btn-block btn-signin">Reset
              Now</button>
          </div>
        </div>
      </div>
    </form>
  </div>

</div>