<div class="section" style="border-top: 1px solid #e2e2e2;">
    <div class="container" style=" max-width: 1500px;">
        <div class="">
            <div class="row">
                <div class="col-lg-5 col-md-12 text-right">
                    <img src="assets/img/home/SmartDevice.png" class="img-fluid">
                </div>

                <div class="col-lg-7 col-md-12">
                    <div class="row">
                        <div class="col-md-12 ml-auto mr-auto text-center">
                            <h2>Download the Shomadhan App and experiences new way to connect our Service Experts</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 ml-auto mr-auto">
                            <h3 class="title"> Enter your mobile number to get the App </h3>
                            
                            <div class="input-group">
                                    <div class="col-md-8">                                        
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    +88
                                                </span>
                                                <input type="number" onKeyPress="if(this.value.length==11) return false;" class="form-control" placeholder="XXXXXXXXXXX">
                                            </div>
                                        </div>
                               
                                <button class="btn btn-round" style="font-size: 15px; color: #161616;background:#ffc107">Sent me Link</button>
                            </div>


                        </div>

                        <div class="col-md-4 download-area ml-auto mr-auto">
                            <img src="assets/img/home/scancode.png">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 download-area ml-auto mr-auto">

                            <div class="text-left col-md-12 col-lg-12 header">
                                <p style="    font-weight: bold;font-size: 20px;">Shomadhan App is Avialble on google play Store and App Store</p>
                            </div>
                            <div class="text-center col-md-12 col-lg-12" style="margin-top: 2em;max-width: 35em; display: flex; flex-flow: row;justify-content: space-evenly;">
                                <!-- <a href="#" rel="tooltip" title="App Store!">
                                    <img src="assets/img/examples/Appstore.png" alt="" class="img-fluid ">
                                </a> -->
                                <a href="#" rel="tooltip" title="Play Store!">
                                    <img src="assets/img/examples/Playstore.png" alt="" class="img-fluid">
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>