<div class="section">
    <div class="container" *ngIf="customerFeedBack">
        <h2>Customer Feedback </h2>
        <ngx-carousel [inputs]="carouselTileTwo" (carouselLoad)="carouselTileTwoLoad()">
            <ngx-tile NgxCarouselItem *ngFor="let tile of customerFeedBack; let i = index;">
                <div class="wBg">
                    <div class="row">
                        <div class="col-4">
                            <div class="">
                                <img class="img-circle img-responsive" src="{{tile.ProfilePic}}" style="">
                            </div>
                        </div>
                        <div class="col-8">
                            <h3>{{tile.FullName}}</h3>
                            <p>{{tile.DateAdded | date}}</p>
                            <ngb-rating [(rate)]="tile.FeedBackRating">
                                <ng-template let-fill="fill" let-index="index">
                                    <span class="star" [class.filled]="fill === 100">&#9733;</span>
                                </ng-template>
                            </ngb-rating>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="card-body">
                                <div style="display: flex;flex-flow: column;margin-left: 1em;justify-content: center;">
                                    <read-more [text]="tile.Comment" [maxLength]="100"></read-more>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ngx-tile>
            <button NgxCarouselPrev class="leftRs" style="background: url(assets/img/Arrow-left1.png)"></button>
            <button NgxCarouselNext class="rightRs" style="background: url(assets/img/Arrow-right1.png)"></button>
        </ngx-carousel>
    </div>
</div>