<!-- <div class="card" style="margin-top: 4em;">
    <ngb-tabset [justify]="'center'">
        <ngb-tab title="Customer Reviews">
            <ng-template ngbTabContent>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-sm-4 ml-auto mr-auto">
                            <app-customerreviews></app-customerreviews>
                        </div>
                        <div class="col-md-4 col-sm-2 ml-auto">                                  
                            <app-recomandedservice></app-recomandedservice>
                            <app-availableareas></app-availableareas>
                         </div>                               
                    </div> 
                 </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab>
            <ng-template ngbTabTitle>
                <b>Hiring</b> Policy</ng-template>
            <ng-template ngbTabContent>
                <div class="container">
                        <div class="container">
                                <div class="row">
                                    <div class="col-md-8 col-sm-4 ml-auto mr-auto">
                                            <app-hiringpolicy></app-hiringpolicy>
                                    </div>
                                    <div class="col-md-4 col-sm-2 ml-auto">                                  
                                        <app-recomandedservice></app-recomandedservice>
                                        <app-availableareas></app-availableareas>
                                     </div>                               
                                </div> 
                             </div>                  
                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab title="FAQ">
            <ng-template ngbTabContent>
                <div class="container">
                        <div class="container">
                                <div class="row">
                                    <div class="col-md-8 col-sm-4 ml-auto mr-auto">
                                            <app-faq></app-faq>
                                    </div>
                                    <div class="col-md-4 col-sm-2 ml-auto">                                  
                                        <app-recomandedservice></app-recomandedservice>
                                        <app-availableareas></app-availableareas>
                                     </div>                               
                                </div> 
                             </div>                     
                </div>
            </ng-template>
        </ngb-tab>
        
    </ngb-tabset>
</div> -->
