.customer-review {
  background-color: #FFFFFF;
  color: #3F3F3F;
  font-weight: bold;
}

.customer-review-header {
  border-bottom: 1px solid #DDDDDD;
  padding: 20px;
  text-align: center;
  display: block !important;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #e9ecef;
  border-top-left-radius: .3rem;
  border-top-right-radius: .3rem;
  margin-bottom: 0;
  line-height: 1.5;
  font-weight: bold;
  text-align: left;
}

.customer-review-body {
  border-bottom: #dadada solid .5px;
  padding: 20px 50px;
  position: relative;
  -ms-flex: 1 1 auto;
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  padding: 15px;
  font-weight: bold;
  font-size: 12px;
}

.username {
  font-weight: bold
}

.customer-review h5 {
  line-height: 1.5;
  font-weight: bold;
  text-align: left;
}

.star {
  font-size: 1.5rem;
  color: #b0c4de; 
}
.filled {
  color: #ffc107;
}
.bad {
  color: #deb0b0;
}
.filled.bad {
  color: #ff1e1e;
}
.section {
    padding-bottom: 30px;
    padding-top: 30px;
}
.my-pagination {
  padding: 50px;
}

.my-pagination /deep/ .ngx-pagination .current {
  background: #FEC107;
}