<div class="confim_modal_backdrop parent">

  <div class="order_confirm_popup_wrappeer child">
    <div class="modal-header confirm_modal_header">
      <!-- <h4 class="modal-title">Modal title</h4>
          <button type="button" class="close" aria-label="Close" (click)="bsModalRef.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button> -->
    </div>
    <div class="modal-body confirm_modal_body d-flex align-items-center flex-column">
      <img src="/assets/img/order-summary_popip.png" width="80" height="80" alt="" srcset="">
      <h5 class="submited_text">Task Submited!</h5>
      <span>After contact expert will back to you soon</span>
    </div>
    <div class="modal-footer justify-content-center confirm_modal_footer">
      <!-- <button type="button" class="btn btn-secondary btn-sm border-0 rounded-0" (click)="bsModalRef.hide()">OK</button> -->
      <button type="button" class="btn btn-secondary btn-sm border-0 rounded-0" (click)="onOkButtonClickHanlder()">OK</button>
    </div>
  </div>

</div>
