.banner-image{
    width: 100%;border-radius: 1px;
}
.banner-image-caption{
    padding-bottom: 197px; font-weight:bold;font-size: large
}
.page-carousel-height{
    height: 500px;
}
.banner-image-new {
border-radius: 0 !important;
height: 500px;
}

.search { position: relative; }
.search input { text-indent: 30px;}
.search .fa-search { 
  position: absolute;
  top: 24px;
  left: 7px;
  font-size: 15px;
}