.terms-condition{
    font-size: 10px;
    color: #969696;
    font-weight: bold;
    text-align: center
}
.terms-condition span{
    text-decoration: underline;
}
.already{
    color: #6F6D6E;
    font-weight: bold;
    text-align: center
}
.already a{
    font-weight: bold;
    color:#1A88E9;
}
