
<div class="custom_modal_header rounded-0" style="height: 60px;">
  <span>
    <!-- <i class="fa fa-arrow-left fa-lg modal_back_btn" aria-hidden="true"></i> -->
  </span>
  <span class="caption_text">Order Summary</span>
  <span class="close p-0 m-0" aria-label="Close" (click)="bsModalRef.hide()">
    <i class="fa fa-times" aria-hidden="true"></i>
  </span>
</div>

<div class="modal-body rounded-0 custom_modal_body">
  <div scrollSpyElement="test" style="height: 380px;  width: 100%; overflow: auto;">
    <app-signin *ngIf="isShowSignin"></app-signin>

    <app-assistant-order-summary  *ngIf="isShowOrderSummary && customerInfo" [customerInfo]="customerInfo" [assistantInnerCategory]="assistantInnerCategory" #orderSummary></app-assistant-order-summary>
  </div>
</div>

<div class="modal-footer custom_modal_footer">

  <button [hidden]="!isShowOrderSummary" (click)="onCheckoutClickHandler()" type="button" class="btn btn_checkout btn-sm border-0 rounded-0 next_button">Checkout</button>
</div>