.bannerStyle {
    background-color: #ccc;
    background-size: cover !important;
    height: 100%;
}

.ttile {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.bannerStyle img {
    width: 100%;
    height: 100%;
}

.bannerStyle h1 {
    text-align: center;
    line-height: 400px;
    background: rgba(0, 0, 0, 0.32);
    color: white;
    margin: 0;
}

.tile h1 {
    text-align: center;
    line-height: 150px;
    background: rgba(0, 0, 0, 0.32);
    color: white;
    margin: 0;
}

h2 {
    font-family: Axiforma-Regular, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    padding-bottom: 30px;
    padding-top: 30px;
}

h4 {
    margin: 0;
    padding: 10px 15px;
    text-align: center;
    font-size: 14px;
    color: #343434;
    font-weight: 400;
    margin: 0;
    margin-top: 10px;
}

p {
    margin: 0;
    padding: 0 15px 10px;
    text-align: center;
}

.wBg {
    background: white;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

nav {
    border-bottom: 1px solid #ccc;
    position: fixed;
    width: 100%;
    top: 0;
    background: white;
    z-index: 12;
}

nav h1 {
    margin: 0;
    padding: 10px;
    text-align: center;
}

.carBtn {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
    border-radius: 999px;
}

.leftRs {
    position: absolute;
    margin: 75px -20px;
    top: 0;
    bottom: 0;
    width: 26px;
    height: 25px;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
    border-radius: 999px;
    border: none;
    left: 0;
}

.rightRs {
    position: absolute;
    margin: 75px -20px;
    top: 0;
    bottom: 0;
    width: 26px;
    height: 25px;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
    border-radius: 999px;
    border: none;
    right: 0;
}

ngx-tile /deep/ .tile {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    min-height: 150px;
    background-color: #fff;
    align-content: center;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.imageStyle {
    width: 100%;
    border-radius: 10px;
    height: 80%;
    border: #fff
}

.ongoing {
    border-bottom: #dadada solid .5px;
    padding: 20px 50px;
    position: relative;
    -ms-flex: 1 1 auto;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    padding: 15px;
    font-weight: bold;
    font-size: 15px;
    font-family: Calibri;
    color: black;
    box-shadow: 0 1px 1px -1px #dadada solid .5px;
    ;
}

.section {
    padding-bottom: 30px;
    padding-top: 30px;
}