.presentation-title {
    font-size: 7em;
    font-weight: 700;
    margin: 0;
    color: #FFFFFF;
    background: linear-gradient(to bottom, #FFFFFF 35%, #4e6773 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.wrapper
{
    margin-top: 60px;
}
