<div class="section  section-light app_footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="row justify-content-md-center sharing-area text-center">
                    <div class="text-left col-md-12 col-lg-8 header">
                        <h2>Follow Us!</h2>
                    </div>
                    <div class="text-left col-md-12 col-lg-8 social-icon">
                        <a href="#pablo" class="btn btn-twitter-bg twitter-sharrre btn-just-icon" rel="tooltip" title="Tweet!">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="#pablo" class="btn btn-google-bg linkedin-sharrre btn-just-icon" rel="tooltip" title="Google!">
                            <i class="fa fa-google-plus"></i>
                        </a>
                        <a href="#pablo" class="btn btn-facebook-bg facebook-sharrre btn-just-icon" rel="tooltip" title="Facebook!">
                            <i class="fa fa-facebook-square"></i>
                        </a>
                        <a class="btn btn-github-bg btn-github sharrre btn-just-icon" rel="tooltip" title="Star on Github">
                            <i class="fa fa-github"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 mycontent-left">
                <div class="row justify-content-md-center sharing-area text-left">
                    <div class="text-left col-md-12 col-lg-8 about">
                        <a>About Us</a>
                        <a>Privacy</a>
                        <a>FAQ</a>
                        <a>Terms & Conditions</a>
                        <a>Contact Us</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="row justify-content-md-center sharing-area text-center">
                    <div class="text-center col-md-12 col-lg-8 header">
                        <h2>Download App</h2>
                    </div>
                    <div class="text-center col-md-12 col-lg-8" style="max-width: 35em; display: flex; flex-flow: row;">
                        <a rel="tooltip" title="Play Store!">
                            <img src="assets/img/playstore.png" alt="" class="img-fluid img-responsive">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section section-footer">
    <div class="container" style="margin-top: 20px;">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <span class="description">
                    © {{test | date: 'yyyy'}}, Copyright
                    <span>shomadhan.com</span> | All Rights Reserved
                </span>
            </div>
        </div>
    </div>
</div>